/* src/components/Aboutsection.css */

.about {
 
  padding:50px 50px;
  background-color: #f4f4f4;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;  
  margin-top: 60px;
}
.about p
{
  width:100%;
 font-size:bold;
  color:blue;
}

 
